
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD NodeJs-MongoDB (Prestamos Biblioteca)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins';
        }
        .dropdown:hover>.dropdown-menu {
            display: block;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        .table thead,
        tbody {
            text-align: center;
        }
        .cuerpo{
            background-color:#b2afb44f;
        }
        .fondo, .tablet{
           background-color: #8ec5fc;
            background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);   
           border: 0;
           padding: 0;
        }
        .background {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
        z-index: -1;
        opacity: 0.2;
        object-fit: cover;    
        }
    
    </style>
</head>

<body class="cuerpo has-bg-img bg-purple bg-blend-screen">
    <nav class="fondo navbar navbar-expand-lg navbar-dark bg-dark d-flex mb-4">
        <span class="navbar-brand mr-auto p-2">Biblioteca</span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Colecciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/add/autor"> Autor </a>
                        <a class=" dropdown-item" href="/add/autorea"> Autorea </a>
                        <a class="dropdown-item" href="/add/copia">Copia</a>
                        <a class="dropdown-item" href="/add/edicion">Edición</a>
                        <a class="dropdown-item" href="/add/libro">Libro</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/add/prestamo">Préstamo</a>
                        <a class="dropdown-item" href="/add/usuario">Usuario</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Consultas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/q1">Copias de Libros</a>
                        <a class="dropdown-item" href="/q2">Préstamo por Usuario</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <img src="https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="bg-img background" />

</body>